body {
  padding: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}

.agregar{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

p{
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.complete{
  text-decoration: line-through;
}